body {
    --background: #030303;
    --primary: #0047ab;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance=light] {
    --background: #d8dee9;
    --primary: #292353;
    --text: black;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance=ruby] {
    --background: #030303;
    --primary: #c01c73;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance=frog] {
    --background: #121212;
    --primary: #535323;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance=space] {
    --background: #181c19;
    --primary: #7f00ff;
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance=molten] {
    --background: #121212;
    --primary: #ff6868;
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance=swamp] {
    --background: #006072;
    --primary: #15fc95;
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance=squid] {
    --background: black;
    --primary: #00b0f4;
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance=lemon] {
    --background: #222222;
    --primary: #feeb01;
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance=lime] {
    --background: #030303;
    --primary: #57F287;
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance=shadow] {
    --background: black;
    --primary: white;
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance=nord] {
    --background: #242933;
    --primary: #3b4252;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance=violet] {
    --background: #0d0d0d;
    --primary: #592f7f;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance=connection] {
    --background: #1c1b29;
    --primary: #43b581;
    --text: #43b581;
    --text-inverse: #1c1b29;
    --font: "Noto Sans";
}

body[data-appearance=dune] {
    --background: #d2c59d;
    --primary: #7d7259;
    --text: #282425;
    --text-inverse: #d2c59d;
    --font: "Noto Sans";
}

body[data-appearance=dracula] {
    --background: #282a36;
    --primary: #383a59;
    --text: #50fa7b;
    --text-inverse: #50fa7b;
    --font: "Noto Sans";
}

body[data-appearance=tiktok] {
    --background: #121212;
    --primary: #ff3b5c;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance=fracital] {
    --background: #222;
    --primary: #333;
    --text: #f971e4;
    --text-inverse: #f971e4;
    --font: "Noto Sans";
}

body[data-appearance=nebula] {
    --background: #191724;
    --primary: #7967dd;
    --text: #e0def4;
    --text-inverse: #191724;
    --font: "Noto Sans";
}

body[data-appearance=tsunami] {
    --background: #121212;
    --primary: #2493ff;
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance=metallic] {
    --background: #171717;
    --primary: #004953;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance=ice] {
    --background: #e8e8ea;
    --primary: #70aecb;
    --text: black;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance=chocolate] {
    --background: #28201b;
    --primary: #684d43;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance=campfire] {
    --background: #333538;
    --primary: #f17755;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance=elixir] {
    --background: #121037;
    --primary: #fb6f18;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance=happiness] {
    --background: #c4c3bb;
    --primary: #a7022e;
    --text: black;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance=robot] {
    --background: #22262a;
    --primary: #6d767e;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance=butter] {
    --background: #f7d5c5;
    --primary: #e79974;
    --text: black;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance=chrome] {
    --background: #3c3c3c;
    --primary: #2a2a2a;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance=classic] {
    --background: #121212;
    --primary: #292353;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance=sun] {
    --background: #ffdfb7;
    --primary: #ffa534;
    --text: black;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance=alice] {
    --background: #1b1b1b;
    --primary: black;
    --text: #ff00ca;
    --text-inverse: #ff00ca;
    --font: "Noto Sans";
}