body {
    --dark-theme: #09283e;
    --light-theme: #104972;
    --ruby-theme: #c01c73;
    --frog-theme: #535323;
    --space-theme: #7f00ff;
    --molten-theme: #ff6868;
    --swamp-theme: #15fc95;
    --squid-theme: #00b0f4;
    --lemon-theme: #feeb01;
    --lime-theme: #57f287;
    --shadow-theme: white;
    --nord-theme: #3b4252;
    --violet-theme: #592f7f;
    --online-theme: #43b581;
    --dune-theme: #7d7259;
    --dracula-theme: #383a59;
    --tiktok-theme: #ff3b5c;
    --fracital-theme: #333;
    --nebula-theme: #7967dd;
    --tsunami-theme: #2493ff;
    --metallic-theme: #004953;
    --ice-theme: #70aecb;
    --chocolate-theme: #684d43;
    --campfire-theme: #f17755;
    --elixir-theme: #fb6f18;
    --happiness-theme: #a7022e;
    --robot-theme: #6d767e;
    --butter-theme: #e79974;
    --chrome-theme: #2a2a2a;
    --classic-theme: #292353;
    --sun-theme: #ffa534;
    --alice-theme: black;
    --plum-theme: #343061;
    --sky-theme: #0e9bba;
    --matrix-theme: #00ff38;
    --gruvbox-theme: #000000;
    --quantum-theme: white;
    --manjaro-theme: #202328;
    --leafy-theme: #daeedf;
    --blackpink-theme: #f8708c;
    --atom-theme: #a6adba;
    --retro-theme: #009600;
    --eaglenet-theme: #4d004d;
    --honey-theme: #e66102;
    --pod-theme: #ffb703;
    --flamingo-theme: white;
    --magma-theme: #ff001f;
    --hacker-theme: #232323;
    --jungle-theme: #38b000;
    --simple-theme: #292b2f;
    --corn-theme: #ff9000;
    --nebelung-theme: #190f05;
    --echo-theme: #4caf50;
    --kahoot-theme: white;
    --booklet-theme: #9a49aa;
    --pride-theme: linear-gradient(
        180deg,
        #fe0000 16.66%,
        #fd8c00 16.66%,
        33.32%,
        #ffe500 33.32%,
        49.98%,
        #119f0b 49.98%,
        66.64%,
        #0644b3 66.64%,
        83.3%,
        #c22edc 83.3%
    );
    --catppuccin-latte-theme: #4c4f69;
    --catppuccin-frappe-theme: #c6d0f5;
    --catppuccin-macchiato-theme: #cad3f5;
    --catppuccin-mocha-theme: #cdd6f4;
    --cobalt2-theme: #193549;
    --rose-pine-theme: #252239;
    --tokyo-night-theme: #3d59a1;
    --immortal-theme: #1e293b;
    --baja-blast-theme: #225450;
    --vs-code-theme: #0078d4;
    --noctura-theme: #4d008c;
    --bubblegum-theme: white;
    --flower-theme: linear-gradient(90deg, #fbab7e, #f7ce68);
    --sylvie-theme: linear-gradient(to right, #4acfff, #8ae0ff);
    --riftriot-theme: #3e008f;
    --adv3-theme: #5b8257;
    --cat-theme: #4d4d4d;
    --koaku-theme: #ff0000;
    --spritz-theme: #0c1242;
    --shadow2-theme: #10151e;
    --flowos-theme: #181926;
    --discord-theme: #5865f2;
    --ludicrous-theme: linear-gradient(90deg, #0c2f4b, #030b11);
    --mercury-workshop-theme: #5bcefa;
    --airtag-theme: #222;
    --retron-theme: linear-gradient(to right, #ff8200, #ffba01);
}

@media (prefers-color-scheme: dark) {
    body[data-appearance="default"] {
        --background: #030303;
        --primary: #09283e;
        --text: white;
        --text-inverse: white;
        --font: "Noto Sans";
    }
}

@media (prefers-color-scheme: light) {
    body[data-appearance="default"] {
        --background: #bfc5cf;
        --primary: #104972;
        --text: black;
        --text-inverse: white;
        --font: "Noto Sans";
    }
}

body[data-appearance="dark"] {
    --background: #030303;
    --primary: #09283e;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="light"] {
    --background: #bfc5cf;
    --primary: #104972;
    --text: black;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="legacy"] {
    --background: #030303;
    --primary: #0047ab;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="ruby"] {
    --background: #030303;
    --primary: #c01c73;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="frog"] {
    --background: #121212;
    --primary: #535323;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="space"] {
    --background: #181c19;
    --primary: #7f00ff;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="molten"] {
    --background: #121212;
    --primary: #ff6868;
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="swamp"] {
    --background: #006072;
    --primary: #15fc95;
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="squid"] {
    --background: black;
    --primary: #00b0f4;
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="lemon"] {
    --background: #222222;
    --primary: #feeb01;
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="lime"] {
    --background: #030303;
    --primary: #57f287;
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="shadow"] {
    --background: black;
    --primary: white;
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="nord"] {
    --background: #242933;
    --primary: #3b4252;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="violet"] {
    --background: #0d0d0d;
    --primary: #592f7f;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="online"] {
    --background: #1c1b29;
    --primary: #43b581;
    --text: #43b581;
    --text-inverse: #1c1b29;
    --font: "Noto Sans";
}

body[data-appearance="dune"] {
    --background: #d2c59d;
    --primary: #7d7259;
    --text: #282425;
    --text-inverse: #d2c59d;
    --font: "Noto Sans";
}

body[data-appearance="dracula"] {
    --background: #282a36;
    --primary: #383a59;
    --text: #50fa7b;
    --text-inverse: #50fa7b;
    --font: "Noto Sans";
}

body[data-appearance="tiktok"] {
    --background: #121212;
    --primary: #ff3b5c;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="fracital"] {
    --background: #222;
    --primary: #333;
    --text: #f971e4;
    --text-inverse: #f971e4;
    --font: "Noto Sans";
}

body[data-appearance="nebula"] {
    --background: #191724;
    --primary: #7967dd;
    --text: #e0def4;
    --text-inverse: #191724;
    --font: "Noto Sans";
}

body[data-appearance="tsunami"] {
    --background: #121212;
    --primary: #2493ff;
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="metallic"] {
    --background: #171717;
    --primary: #004953;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="ice"] {
    --background: #e8e8ea;
    --primary: #70aecb;
    --text: black;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="chocolate"] {
    --background: #28201b;
    --primary: #684d43;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="campfire"] {
    --background: #333538;
    --primary: #f17755;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="elixir"] {
    --background: #121037;
    --primary: #fb6f18;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="happiness"] {
    --background: #c4c3bb;
    --primary: #a7022e;
    --text: black;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="robot"] {
    --background: #22262a;
    --primary: #6d767e;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="butter"] {
    --background: #f7d5c5;
    --primary: #e79974;
    --text: black;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="chrome"] {
    --background: #3c3c3c;
    --primary: #2a2a2a;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="classic"] {
    --background: #121212;
    --primary: #292353;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="sun"] {
    --background: #ffdfb7;
    --primary: #ffa534;
    --text: black;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="alice"] {
    --background: #1b1b1b;
    --primary: black;
    --text: #ff00ca;
    --text-inverse: #ff00ca;
    --font: "Noto Sans";
}

body[data-appearance="plum"] {
    --background: #6e4b74;
    --primary: #343061;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="sky"] {
    --background: #12c2e9;
    --primary: #0e9bba;
    --text: black;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="matrix"] {
    --background: black;
    --primary: #00ff38;
    --text: #00ff38;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="gruvbox"] {
    --background: #282828;
    --primary: #000000;
    --text: #fdf4c1;
    --text-inverse: #fdf4c1;
    --font: "Noto Sans";
}

body[data-appearance="quantum"] {
    --background: #ffd3ae;
    --primary: white;
    --text: black;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="manjaro"] {
    --background: #2d3134;
    --primary: #202328;
    --text: #b3d9ff;
    --text-inverse: #b3d9ff;
    --font: "Noto Sans";
}

body[data-appearance="leafy"] {
    --background: #91d1a7;
    --primary: #daeedf;
    --text: #084015;
    --text-inverse: #084015;
    --font: "Noto Sans";
}

body[data-appearance="blackpink"] {
    --background: #000000;
    --primary: #f8708c;
    --text: #f8708c;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="atom"] {
    --background: #1d232a;
    --primary: #a6adba;
    --text: var(--primary);
    --text-inverse: var(--background);
    --font: "Noto Sans";
}

body[data-appearance="retro"] {
    --background: #000000;
    --primary: #009600;
    --text: white;
    --text-inverse: black;
    --font: "Ubuntu Mono";
}

body[data-appearance="eaglenet"] {
    --background: #9824d3;
    --primary: #4d004d;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="honey"] {
    --background: #ffa15f;
    --primary: #e66102;
    --text: black;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="pod"] {
    --background: #161616;
    --primary: #ffb703;
    --text: white;
    --text-inverse: #161616;
    --font: "Noto Sans";
}

body[data-appearance="flamingo"] {
    --background: #fcacd0;
    --primary: white;
    --text: black;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="magma"] {
    --background: #1d0003;
    --primary: #ff001f;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="hacker"] {
    --background: #090909;
    --primary: #232323;
    --text: #7de38d;
    --text-inverse: #7de38d;
    --font: "Ubuntu Mono";
}

body[data-appearance="jungle"] {
    --background: #006400;
    --primary: #38b000;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="simple"] {
    --background: #18191c;
    --primary: #292b2f;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="corn"] {
    --background: black;
    --primary: #ff9000;
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="nebelung"] {
    --background: #dabc9a;
    --primary: #190f05;
    --text: #190f05;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="echo"] {
    --background: #1c1c1c;
    --primary: #4caf50;
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="kahoot"] {
    --background: #381272;
    --primary: white;
    --text: white;
    --text-inverse: #333333;
    --font: "Noto Sans";
}

body[data-appearance="booklet"] {
    --background: #0bc2cf;
    --primary: #9a49aa;
    --text: black;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="pride"] {
    --background: #000000c4;
    --primary: #ffffff;
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="pride"] .web {
    background: linear-gradient(
            180deg,
            #fe0000 16.66%,
            #fd8c00 16.66%,
            33.32%,
            #ffe500 33.32%,
            49.98%,
            #119f0b 49.98%,
            66.64%,
            #0644b3 66.64%,
            83.3%,
            #c22edc 83.3%
        ),
        #000000c4 !important;
}

body[data-appearance="catppuccin-latte"] {
    --background: #eff1f5;
    --primary: var(--text);
    --text: #4c4f69;
    --text-inverse: #f8f9fb;
    --font: "Noto Sans";
}

body[data-appearance="catppuccin-frappe"] {
    --background: #303446;
    --primary: var(--text);
    --text: #c6d0f5;
    --text-inverse: #292c3c;
    --font: "Noto Sans";
}

body[data-appearance="catppuccin-macchiato"] {
    --background: #24273a;
    --primary: var(--text);
    --text: #cad3f5;
    --text-inverse: #1e2030;
    --font: "Noto Sans";
}

body[data-appearance="catppuccin-mocha"] {
    --background: #1e1e2e;
    --primary: var(--text);
    --text: #cdd6f4;
    --text-inverse: #181825;
    --font: "Noto Sans";
}

body[data-appearance="cobalt2"] {
    --background: #15232d;
    --primary: #193549;
    --text: #e8e8e8;
    --text-inverse: #e8e8e8;
    --font: "Noto Sans";
}

body[data-appearance="rose-pine"] {
    --background: #1a1825;
    --primary: #252239;
    --text: #deddf4;
    --text-inverse: #c4a7e7;
    --font: "Noto Sans";
}

body[data-appearance="tokyo-night"] {
    --background: #1a1b26;
    --primary: #3d59a1;
    --text: #787c99;
    --text-inverse: var(--background);
    --font: "Noto Sans";
}

body[data-appearance="immortal"] {
    --background: linear-gradient(
        to right,
        rgba(01, 06, 15, 1) 21%,
        rgba(01, 21, 49, 1) 97%
    );
    --primary: #1e293b;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="immortal"] .panel {
    background: rgba(01, 21, 49, 1);
}

body[data-appearance="baja-blast"] {
    --background: #3b8680;
    --primary: #225450;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="vs-code"] {
    --background: #1f1f1f;
    --primary: #0078d4;
    --text: #cccccc;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="noctura"] {
    --background: black;
    --primary: #4d008c;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="bubblegum"] {
    --background: #ff9a8b;
    --primary: white;
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="flower"] {
    --background: #030303;
    --primary: linear-gradient(90deg, #fbab7e, #f7ce68);
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="sylvie"] {
    --background: #030303;
    --primary: linear-gradient(to right, #4acfff, #8ae0ff);
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="riftriot"] {
    --background: #0a0017;
    --primary: #3e008f;
    --text: white;
    --text-inverse: whie;
    --font: "Noto Sans";
}

body[data-appearance="adv3"] {
    --background: #030303;
    --primary: #5b8257;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="cat"] {
    --background: #bfbfbf;
    --primary: #4d4d4d;
    --text: #4d4d4d;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="koaku"] {
    --background: #3d0c0c;
    --primary: #ff0000;
    --text: var(--primary);
    --text-inverse: var(--background);
    --font: "Noto Sans";
}

body[data-appearance="spritz"] {
    --background: #000;
    --primary: #0c1242;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="shadow2"] {
    --background: #1a1f2b;
    --primary: #10151e;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="flowos"] {
    --background: #24273a;
    --primary: #181926;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="discord"] {
    --background: #23272a;
    --primary: #5865f2;
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="ludicrous"] {
    --background: black;
    --primary: linear-gradient(90deg, #0c2f4b, #030b11);
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="mercury-workshop"] {
    --background: #fff;
    --primary: #5bcefa;
    --text: black;
    --text-inverse: black;
    --font: "Noto Sans";
}

body[data-appearance="airtag"] {
    --background: #285c30;
    --primary: #222;
    --text: white;
    --text-inverse: white;
    --font: "Noto Sans";
}

body[data-appearance="retron"] {
    --background: #161616;
    --primary: linear-gradient(to right, #ff8200, #ffba01);
    --text: white;
    --text-inverse: black;
    --font: "Noto Sans";
}
