body {
    margin: 0;
    background: var(--background);
}

body * {
    color: var(--text);
    font-family: "Noto Sans";
}

.nav {
    background: var(--secondary);
    height: 3rem;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.omnibox {
    width: -webkit-fill-available;
    margin: 0 0.25rem;
    position: relative;
}

.search {
    height: 2.25rem;
    /*border-radius: 0.25rem;*/
    border-radius: 100px;
    background: var(--primary);
    border: none;
    outline: none;
    padding: 0 0.5rem;
    width: -webkit-fill-available;
    padding-left: 2.25rem;
}

.searchIcon {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    background: var(--secondary);
    position: absolute;
    left: 0.35rem;
    top: 0.35rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls {
    display: flex;
    gap: 0.25rem;
}

.controls[data-side=left] {
    margin-left: 0.4rem;
    margin-right: 0.5rem;
}

.controls[data-side=right] {
    margin-left: 0.5rem;
    margin-right: 0.4rem;
}

.controlsButton {
    height: 2rem;
    /*border-radius: 0.25rem;*/
    border-radius: 100%;
    /*background: #0d0c20;*/
    background: transparent;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.panel {
    background: var(--background);
    position: fixed;
    top: 3rem;
    bottom: 0;
    right: 0;
    width: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(22rem);
    transition: transform 100ms;
}

.sidePanel {
    background: var(--secondary);
    width: 20rem;
    height: calc(100% - 2rem);
    border-radius: 0.25rem;
}

.web {
    position: fixed;
    top: 3rem;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 3rem);
    border: none;
    background: var(--background);
    user-select: none;
    transition: width 100ms, right 100ms;
}